.comments {
	position:relative;
	width: 400px;
}
.comments textarea.editor { width:100% }
.comments .editor {
	display:block; box-sizing:border-box; border:1px solid #ccc; border-radius:5px;
	min-height:74px; padding:10px; overflow:hidden;
	font-size:16px; line-height:24px;
	white-space: pre-wrap; word-wrap:break-word; outline:none
}
.comments .editor p { margin:0;padding:0; }
.comments .editor_placeholder { position:absolute; top:0; left:0; padding:11px; color:#ccc; z-index:-1 }
.comments .editor ._mention {
	background: #d8deea;
	background: gradient(linear, center top, center bottom, from(#dce6f8), to(#bdcff1));
	background: linear-gradient(#dce6f8, #bdcff1);
	border-radius: 2px;
	box-shadow: 0 0 0 1px #a3bcea;
}

._mention_list { padding:0;margin:0; position:absolute; width:400px; }
._mention_list li { background:#fff; display:block;position:relative; height:40px; padding:4px; }
._mention_list li.select { background:#eee; }
._mention_list li img { width:40px; height:40px; border-radius:100%; position:absolute; left:4px;top:4px; }
._mention_list li span.text { display:block; position:absolute; left:48px; font-size:14px; list-style:none; padding:3px; line-height:40px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#submit { margin:10px 0; }
.result { width:380px; height:80px; padding:10px; overflow:auto; border:1px solid #ccc; border-radius:5px; font-size:16px }
